@charset "UTF-8";

/* ==========================================================================
  テスト
   ========================================================================== */


.sub{
  color: red;
  font-size: 14px;
  //font-weight: bold;
}

.subbbbbbbbb{
  display: none;
  color: red;
}


.test{
  //font-weight: bold !important;
  font-size: 80px !important
}
