@charset "UTF-8";
/* ==========================================================================
   00. mixin/vars
   ========================================================================== */
/* ==========================================================================
   01. Reset
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* ==========================================================================
   02. Base
   ========================================================================== */
html {
  color: #000;
  font-size: 62.5%;
  overflow-y: scroll; }

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 140%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%; }

*,
*:before,
*:after {
  background-repeat: no-repeat;
  box-sizing: border-box; }

a {
  color: #000;
  text-decoration: none; }

a:visited {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #000;
  text-decoration: underline; }

img {
  line-height: 1.0;
  vertical-align: bottom; }

table th img,
table td img {
  vertical-align: middle; }

.clear {
  clear: both; }

.clearfix,
.fbox,
#contents {
  display: block; }
  .clearfix:after,
  .fbox:after,
  #contents:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }

/* float
   ========================================================================== */
.fr {
  float: right; }

.fl {
  float: left; }

ul.fbox li {
  float: left;
  display: inline; }

/* margin
   ========================================================================== */
.mt0 {
  margin-top: 0px !important; }

.mt5 {
  margin-top: 5px !important; }

.mt10 {
  margin-top: 10px !important; }

.mt15 {
  margin-top: 15px !important; }

.mt20 {
  margin-top: 20px !important; }

.mt25 {
  margin-top: 25px !important; }

.mt30 {
  margin-top: 30px !important; }

.mt35 {
  margin-top: 35px !important; }

.mt40 {
  margin-top: 40px !important; }

.mt45 {
  margin-top: 45px !important; }

.mt50 {
  margin-top: 50px !important; }

.mt55 {
  margin-top: 55px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mr0 {
  margin-right: 0px !important; }

.mr5 {
  margin-right: 5px !important; }

.mr10 {
  margin-right: 10px !important; }

.mr15 {
  margin-right: 15px !important; }

.mr20 {
  margin-right: 20px !important; }

.ml0 {
  margin-left: 0px !important; }

.ml5 {
  margin-left: 5px !important; }

.ml10 {
  margin-left: 10px !important; }

.ml15 {
  margin-left: 15px !important; }

.ml20 {
  margin-left: 20px !important; }

/* padding
   ========================================================================== */
.pt0 {
  padding-top: 0 !important; }

.pb0 {
  padding-bottom: 0 !important; }

/* form label
   ========================================================================== */
input,
textarea,
label {
  vertical-align: middle; }

/* position
   ========================================================================== */
.text-r {
  text-align: right !important; }

.text-c,
table.text-c th,
table.text-c td,
table.th-c th {
  text-align: center !important; }

.text-l {
  text-align: left !important; }

/* ==========================================================================
   03. Layout
   ========================================================================== */
/* ==========================================================================
   04. Parts
   ========================================================================== */
/* ボックス
   ========================================================================== */
.box {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
  height: 100px; }
  .box p {
    display: table-cell;
    height: 100px;
    vertical-align: middle; }

/* センターボックス */
.box-center {
  margin: 0 auto;
  max-width: 960px; }
  @media screen and (max-width: 1260px) {
    .box-center {
      padding: 0 30px; } }

@media screen and (max-width: 767px) {
  .box-center {
    box-sizing: border-box;
    max-width: inherit;
    padding: 0 15px;
    width: 100%; } }

/* フレックスボックス */
.box-wrap-flex {
  display: -webkit-flex;
  display: flex; }
  .box-wrap-flex .box:not(:target) {
    display: table-cell\9; }

@media screen and (max-width: 767px) {
  .box-wrap-flex {
    display: block !important; }
    .box-wrap-flex .box {
      display: block;
      width: 100%; } }

/* 2カラムボックス（フロート） */
.box-wrap-fl2 {
  display: block; }
  .box-wrap-fl2:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .box-wrap-fl2 .box {
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 49%; }
    .box-wrap-fl2 .box:nth-child(2n) {
      margin-right: 0; }

@media screen and (max-width: 767px) {
  /*.box-wrap-fl2{
    .box{
      margin-bottom: 10px;
      width: 100%;
    }
  }*/ }

/* 3カラムボックス（フロート） */
.box-wrap-fl3 {
  display: block; }
  .box-wrap-fl3:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .box-wrap-fl3 .box {
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 32%; }
    .box-wrap-fl3 .box:nth-child(3n) {
      margin-right: 0; }

@media screen and (max-width: 767px) {
  /*.box-wrap-fl3{
    .box{
      width: 50%;
    }
  }*/ }

/* 4カラムボックス（フロート） */
.box-wrap-fl4 {
  display: block; }
  .box-wrap-fl4:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .box-wrap-fl4 .box {
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 23.5%; }
    .box-wrap-fl4 .box:nth-child(4n) {
      margin-right: 0; }

@media screen and (max-width: 767px) {
  /*.box-wrap-fl4{
    .box{
      width: 50%;
    }
  }*/ }

/* スマホ用の記述 */
@media screen and (max-width: 767px) {
  .box-wrap {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .sp-box-col2 .box {
    float: none;
    margin-bottom: 10px;
    width: 50%; }
    .sp-box-col2 .box:nth-child(2n) {
      margin-right: 0; } }

/* ボタン
   ========================================================================== */
.btn {
  border: 1px solid #999;
  border-radius: 3px;
  color: #000;
  display: block;
  padding: 16px 13px;
  text-align: center; }
  .btn.btn_bdr--red {
    border: 1px solid red;
    color: red; }
  .btn.btn_size--min {
    padding: 8px 13px;
    font-size: 13px;
    font-size: 1.3rem; }
  .btn.btn_color--red {
    border: none;
    background: red;
    color: #fff; }
  .btn.btn_color--gray {
    border: none;
    background: #999;
    color: #000; }
  .btn.btn_arrow {
    text-align: left;
    position: relative;
    padding-right: 16px; }
    .btn.btn_arrow:before {
      content: '';
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      height: 8px;
      width: 8px;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 13px;
      transform: rotate(45deg); }

@media screen and (min-width: 768px) {
  .btn:hover {
    text-decoration: none; } }

.btn_txt {
  color: #000 !important;
  padding-right: 10px;
  position: relative;
  font-size: 13px;
  font-size: 1.3rem; }
  .btn_txt:before {
    content: '';
    border-top: 1px solid #919191;
    border-right: 1px solid #919191;
    height: 5px;
    width: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: rotate(45deg); }
  .btn_txt:hover {
    text-decoration: none; }

/* アイコン
   ========================================================================== */
.icon-arrow {
  padding-right: 10px;
  position: relative; }
  .icon-arrow:before {
    content: '';
    border-top: 1px solid #919191;
    border-right: 1px solid #919191;
    height: 5px;
    width: 5px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: rotate(45deg); }

/* リスト
   ========================================================================== */
.list-cmn li {
  position: relative;
  margin-bottom: 5px;
  color: #666; }
  .list-cmn li:before {
    content: '・';
    color: red; }

/* その他パーツ
   ========================================================================== */
.accordion.accordion-large .accordion__ttl {
  padding: 19px 120px 19px 34px;
  font-size: 15px;
  font-size: 1.5rem; }
  .accordion.accordion-large .accordion__ttl:before {
    height: 10px;
    width: 10px; }

.accordion__ttl {
  cursor: pointer;
  line-height: 1.2;
  padding: 19px 19px 19px 10px;
  background: #f2f2f2;
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative; }
  .accordion__ttl.open {
    border-radius: 3px 3px 0 0;
    margin-bottom: 0; }
    .accordion__ttl.open:before {
      transform: rotate(-45deg); }
  .accordion__ttl:before {
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    height: 8px;
    width: 8px;
    transform: rotate(135deg); }

.accordion__cont {
  display: none;
  background: #f2f2f2;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-radius: 0 0 3px 3px; }
  .accordion__cont.open {
    display: block; }

.accordion__cont__inner {
  background: #fff;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 10px; }

/* テーブル
   ========================================================================== */
.tbl-cmn {
  width: 100%;
  border-top: 1px solid #eee;
  font-size: 13px;
  font-size: 1.3rem; }
  .tbl-cmn th,
  .tbl-cmn td {
    border-bottom: 1px solid #eee;
    padding: 13px 10px; }
  .tbl-cmn th {
    background: #f7f7f7;
    font-weight: normal; }

/* タイトル
   ========================================================================== */
.cmn-ttl {
  font-size: 21px;
  font-size: 2.1rem;
  border-bottom: 3px solid red; }

/* ==========================================================================
   05. Responisive
   ========================================================================== */
/* image
   ========================================================================== */
img {
  height: auto;
  line-height: 1.0;
  max-width: 100%;
  vertical-align: bottom; }

/* display
   ========================================================================== */
.block {
  display: block; }

.sp-item {
  display: none; }

.pc-block {
  display: block; }

@media screen and (max-width: 767px) {
  .sp-item {
    display: block; }
  .pc-item {
    display: none !important; }
  .pc-block {
    display: inline; }
  .sp-block {
    display: block; } }
