doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title タイトル
        link(href="/css/common.css", rel="stylesheet")
        link(href="/css/style.css", rel="stylesheet")
    body
        div#header
        div#navigation
        div#content
            h1 helloWorld!
            p テスト

            h2 h2タイトル
            p テスト

            h3 h3タイトル
            p テスト

            h4 h4タイトル
            p テスト

            h5 h5タイトル
            p テスト
        div#footer
