@charset "UTF-8";

/**
 * Test_common
 */

.test1{
  background: red;
}


/*
#overview
box ボックスまとめ

box コメントが入ります
*/

.ttl-cmn{
  color: red;
  font-size: 22px;
}


/*
#colors

@color-base #996600
@color-txt #333

*/
